.container {
  width: 100%;
}

.subtitle {
  font-weight: 300;
  margin-bottom: var(--padding-xl);
  color: white;
}

b {
  color: white;
  font-weight: 700 !important;
}

.whatBodyContent {
  width: 100%;
}

.whatBodyTitle {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: var(--padding-xxl)
}

.whatBodySubtitle {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: var(--padding-xxl)
}

.whatBodyGoals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--padding-xxxl) 0
}

.whatBodyGoalsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 var(--padding-xxl) var(--padding-xxl);
}


@media (min-width: 1124px) {
  .whatBodyGoalsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 var(--padding-xxl) var(--padding-xxl);
    border-right: 2px solid white;
  }
}

@media (max-width: 667px) {
  .whatBodyGoalsItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 var(--padding-xxl) var(--padding-xxl);
    border-bottom: 2px solid white;
  }
}

.whatBodyGoalsItem:last-child {
  border: none;
}

.whatBodyGoalsItemTitle, .cardContentTitle {
  margin-bottom: var(--padding-l);
  text-decoration: underline;
  text-align: center;
}

.cardContentTitle:last-child {
  margin-bottom: 0;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-auto-rows: 1fr;
  gap: var(--padding-xl);
}

.card > div {
  padding: var(--padding-xxl);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 653px) {
  .card > div {
    padding: var(--padding-xxl);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.cardDescriptionList {
  align-self: flex-start;
}

.iconContainer {
  margin-bottom: var(--padding-xxl);
}