.container {
  width: 100%;
}

.subtitle {
  font-weight: 300;
  margin-bottom: var(--padding-xl);
  color: white;
}

b {
  color: white;
  font-weight: 700 !important;
}

.whatBodyContent {
  width: 100%;
}

.whatBodyTitle {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: var(--padding-xxl)
}

.whatBodySubtitle {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: var(--padding-xxl)
}

.whatBodyGoals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 calc(-1 * var(--padding-l));
}

.whatBodyGoalsItem {
  flex: 0 1 calc(100% / 3 - var(--padding-xxxl));
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 var(--padding-l);
}

.verticalDivider {
  width: 2px;
  background-color: white;
}

.whatBodyGoalsItemTitle, .cardContentTitle {
  margin-bottom: var(--padding-l);
  text-decoration: underline;
  text-align: center;
}

.cardContentTitle:last-child {
  margin-bottom: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--padding-xl);
}

.card > div {
  flex: 1 1 calc(100% / 3 - var(--padding-l));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardDescriptionList {
  align-self: flex-start;
}

.iconContainer {
  margin-bottom: var(--padding-xxl);
}