.chartContainer {
  overflow-y: hidden;
}

.chartContainerRender canvas {
  opacity: 1 !important;
  margin-top: 0;
}

.chartHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}