.container {
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-m);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(10, 11, 19, 0.4);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  color: white;
}