.listItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--padding-l);
}

.listItem:last-child {
  margin-bottom: 0;
}

.listItem > *:first-child {
  margin-right: var(--padding-l);
  margin-top: 2px;
}