.container {
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-m);
  box-shadow: var(--box-shadow);
}

@media (max-width: 400px) {
  .container {
    padding: var(--padding-m);
  }
}

