.container {
  padding: var(--padding-xl);
  display: flex;
  position: relative;
  height: 100vh;
  background: white;
}

.pageWrapper {
  padding-top: var(--padding-l);
  padding-left: var(--padding-xl);
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  direction: ltr !important;  
}

.pageSubtitle {
  opacity: 0.7;
  margin-bottom: var(--padding-xxl);
  font-size: 18px;
}