.container {
  padding: var(--padding-xl);
  display: flex;
  position: relative;
  height: 100vh;
  background: linear-gradient(120deg, rgba(23,25,29,1) 0%, rgba(34,38,50,1) 35%, rgba(21,93,70,1) 75%, rgba(10,136,85,1) 100%, rgba(3,165,95,1) 100%);
}

.pageWrapper {
  padding-top: var(--padding-l);
  margin-left: var(--padding-xl);
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  direction: ltr !important;  
}

.pageTitle {
  color: white;
}

.pageSubtitle {
  color: white;
  opacity: 0.4;
  margin-bottom: var(--padding-xxl);
  font-size: 18px;
  font-weight: 300;
}