.container {
  padding: var(--padding-xxl) 0;
  width: 270px;
  background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-light));
  height: 100%;
  border-radius: var(--border-radius-m);
  box-shadow: 4px 4px 8px rgba(10, 11, 19, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s;
  position: sticky;
}

.wrappedContainer {
  padding: var(--padding-xxl) 0;
  width: 64px;
  background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-light));
  height: 100%;
  border-radius: var(--border-radius-m);
  box-shadow: 4px 4px 8px rgba(10, 11, 19, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s;
  position: sticky;
}

.smallLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallLogoImg {
  margin-top: var(--padding-xxxl);
  width: 36px;
  cursor: pointer;
}

.logoImg {
  width: 64px;
  margin-bottom: var(--padding-m);
  cursor: pointer;
}

.logoText {
  color: white;
}

.mainMenu {
  margin-top: var(--padding-xxxl);
}

.toggleSidebarOpen {
  position: absolute;
  padding: var(--padding-s);
  top: var(--padding-m);
  right: var(--padding-s);
  cursor: pointer;
  transition: all .2s;
}

.toggleSidebarClose {
  position: absolute;
  padding: var(--padding-s);
  top: var(--padding-l);
  right: 16px;
  cursor: pointer;
  transition: all .2s;
  transform: rotate(180deg);
}

.toggleSidebarOpen:hover {
  background-color: white;
  border-radius: 100%;
}

.toggleSidebarOpen:hover > svg{
  fill: var(--secondary-color);
}

.toggleSidebarClose:hover {
  background-color: white;
  border-radius: 100%;
}

.toggleSidebarClose:hover > svg{
  fill: var(--secondary-color);
}