.container {
  padding: var(--padding-xxl) 0;
  width: 270px;
  background: var(--bg-linear-secondary);
  height: calc(100vh - 2 * var(--padding-xl));
  border-radius: var(--border-radius-m);
  box-shadow: 2px 0 4px rgba(125, 125, 125, 0.5), -2px 0 4px rgba(125, 125, 125, 0.5), 0 2px 4px rgba(125, 125, 125, 0.5), 0 -2px 4px rgba(125, 125, 125, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s;
  position: sticky;
  top: var(--padding-xl);
  z-index: 100;
}

.wrappedContainer {
  padding: var(--padding-xxl) 0;
  width: 64px;
  background: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-light));
  height: calc(100vh - 2 * var(--padding-xl));
  border-radius: var(--border-radius-m);
  box-shadow: 4px 4px 8px rgba(10, 11, 19, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .3s;
  position: sticky;
  top: var(--padding-xl);
}

.smallLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smallLogoImg {
  margin-top: var(--padding-xxl);
  width: 30px;
  cursor: pointer;
}

.logoImg {
  width: 64px;
  margin-bottom: var(--padding-m);
  cursor: pointer;
}

.logoText {
  color: white;
}

.mainMenu {
  margin-top: var(--padding-xxl);
}

.mainMenuHidden {
  display: none;
}

.toggleSidebarOpen {
  position: absolute;
  padding: var(--padding-s);
  top: var(--padding-m);
  right: var(--padding-s);
  cursor: pointer;
  transition: all .2s;
}

.toggleSidebarClose {
  position: absolute;
  padding: var(--padding-s);
  top: var(--padding-l);
  right: 18px;
  cursor: pointer;
  transition: all .2s;
  transform: rotate(180deg);
}

.toggleSidebarOpen:hover {
  background-color: white;
  border-radius: 100%;
}

.toggleSidebarOpen:hover > svg{
  fill: var(--secondary-color);
}

.toggleSidebarClose:hover {
  background-color: white;
  border-radius: 100%;
}

.toggleSidebarClose:hover > svg{
  fill: var(--secondary-color);
}

@media (max-width: 560px) { 
  .container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    margin-top: calc(-1 * var(--padding-xl));
    border-radius: 0;
  }

  .wrappedContainer {
    position: absolute;
    z-index: 1000;
    padding: var(--padding-l);
    overflow: hidden;
    height: auto;
    border-radius: var(--border-radius-circle);
    right: var(--padding-l);
  }

  .smallLogoImg {
    margin-top: 0
  }
}