.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: var(--padding-l);
}

.tableTitle {
  color: var(--secandary-color-light);
}

.tableContainer {
  max-height: 77vh;
  position: relative;
  overflow: auto;
  border: 1px solid var(--secondary-color-light);
}

.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 500px;
  height: 100%;
}

.th {
  position: sticky;
  background-color: var(--secondary-color-light);
  color: white;
  font-weight: 500;
  outline: 1px solid var(--secondary-color-dark);
  height: 48px;
  top: 0;
  padding: var(--padding-m);
}

.td {
  padding: var(--padding-l);
  text-align: center;
}

.subHeader {
  top: 48px;
}

.tbody tr th {
  top: 96px;
}

.pagination {
  width: 100%;
  margin-top: var(--padding-l);
  border-radius: var(--border-radius-s);
  padding: var(--padding-xl);
  background-color: var(--grey-color-light);
  display: flex;
  justify-content: space-evenly;
}

.pagination input {
  margin: 0 var(--padding-m);
  width: 64px;
  font-size: 16px;
  padding: var(--padding-xs);
  text-align: center;
}

.previousButton, .nextButton {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nextButton {
  transform: rotate(180deg);
}