@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.syncfusion.com/ej2/material.css');

:root {
  /* Colors */
  --primary-color: #016439;
  --primary-color-10: rgb(1, 100, 57, 0.10);
  --primary-color-80: rgba(1, 100, 57, 0.80);
  --primary-color-light: #03a55f;
  --primary-color-light-80: rgba(3, 165, 95, 0.80);
  --primary-color-light-60: rgba(3, 165, 95, 0.60);
  --primary-color-dark: #002f1b;

  --secondary-color: #222632;
  --secondary-color-light: #414758;
  --secondary-color-dark: #17191d;
  --destructive-color: #881D1D;
  --destructive-color-10: rgb(136, 29, 29, 0.10);
  --destructive-color-dark: #440000;
  --destructive-color-10: rgb(136, 29, 29, 0.10);
  --warning-color: #ffcc00;
  --warning-color-dark: #d99801;
  --warning-color-10: rgba(255, 204, 0, 0.1);
  --grey-color-light: #e5e5e5;
  --grey-color: #b1b1b1;
  --grey-color-dark: #555555;

  /* Font Family */
  --font-family-heading: Inter, Helvetica, sans-serif;
  --font-family-paragraph: Lato, 'Segoe UI', sans-serif;
  
  /* Padding Size */
  --padding-xs: 4px;
  --padding-s: 6px;
  --padding-m: 8px;
  --padding-l: 12px;
  --padding-xl: 16px;
  --padding-xxl: 24px;
  --padding-xxxl: 32px;

  /* Button Height Size */
  --btn-height-s: 8px;
  --btn-height-m: 12px;
  --btn-height-l: 16px;

  /* Border Radius */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 12px;
  --border-radius-circle: 100%;

  /* Box Shadow */
  --box-shadow: 0px 10px 13px -7px #000000a4, 0px -4px 13px -7px #00000045, 5px 5px 15px 5px rgba(0,0,0,0);
  --text-shadow: 2px 2px 4px -7px #000000a4;

  /* Background Gradient */
  --bg-radial-primary: radial-gradient(circle at -10% 25.5%, var(--primary-color-light-80) 0%, var(--primary-color-80) 75%);
  --bg-linear-secondary: linear-gradient(45deg, var(--secondary-color), var(--secondary-color-light));
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--primary-color-light) !important;
}

html {
  scroll-behavior: smooth;
}

body, #root {
  position: relative;
  margin: 0;
  z-index: -1000;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: var(--font-family-heading);
  color: var(--secondary-color);
  font-weight: 600;
  margin: 0;
  letter-spacing: -1px;
}

h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 16px; }

p {
  margin: 0;
}

div, p, a, span, li, input, td {
  font-family: var(--font-family-paragraph);
  color: var(--secondary-color);
  font-weight: 400;
}

button {
  font-family: var(--font-family-heading);
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 600;
}

.green-text {
  color: var(--primary-color) !important;
}

/* Scrollbar section */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: var(--border-radius-m);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: var(--border-radius-m);
  background-color: var(--secondary-color-light);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-dark);
}
/* Scrollbar end section */

/* React slick section */
.slick-slide > div > * {
  width: calc(100% - 2 * var(--padding-s)) !important;
}

.slick-slider .slick-track {
  display: flex;
  align-items: center;
}

.slick-slide {
  transition: all .5s;
  transform: scale(0.95);
}

.slick-slide.slick-current {
  transform: scale(1);
}

.slick-slide.slick-current img {
  filter: brightness(100%) !important;
  -webkit-filter: brightness(100%) !important;
}
/* React slick end section */

/* Styling datetime picker */
.e-active {
  color: var(--primary-color) !important;
}

.e-input-group > .e-input::selection {
  background-color: var(--primary-color-light) !important;
}


.e-input-group::before {
  background-color: var(--primary-color) !important;
}

.e-input-group::after {
  background-color: var(--primary-color) !important;
}

.e-calendar .e-header .e-title, .e-bigger.e-small .e-calendar .e-header .e-title {
  font-family: var(--font-family-paragraph) !important;
}

.e-calendar .e-content span.e-day, .e-bigger.e-small .e-calendar .e-content span.e-day {
  font-family: var(--font-family-paragraph) !important;
}

.e-calendar .e-content td:hover span.e-day, .e-calendar .e-content td:focus span.e-day, .e-bigger.e-small .e-calendar .e-content td:hover span.e-day, .e-bigger.e-small .e-calendar .e-content td:focus span.e-day {
  color: var(--primary-color);
  background-color: white;
  border: 1px solid var(--primary-color);
}


.e-calendar .e-btn.e-today.e-flat.e-primary, .e-calendar .e-css.e-btn.e-today.e-flat.e-primary {
  color: var(--primary-color);
}

.e-calendar .e-content td.e-focused-date.e-today span.e-day {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

.e-calendar .e-content td.e-focused-date.e-today:hover span.e-day {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
}

.e-calendar .e-content td.e-focused-date span.e-day {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
}
/* End datetime picker section */

canvas {
  opacity: 0;
  margin-top: 1000px;
  transition: all 0.3s;
}